.navigation{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a,
    a:visited,
    a:link{
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        color: $orange;
        padding: 1rem;
        transition: all .4s;
        letter-spacing: .3rem;
    }

    a.logo{
        font-size: 3rem;
        letter-spacing: 1rem;
    }
}